a{
	text-decoration: none;	
}

body{
	/*background-image: url('../images/background.jpg');*/
	/*background-repeat: no-repeat;*/

	background: url('../images/background.jpg') 50% -100px no-repeat fixed; min-height: 1000px;
}

.title img{
	margin-top: 60px;
}

h1.title{
    margin-top: 185px;
	
    margin-bottom: -100px;
}

nav.top-nav{
	min-height: 60px;
	margin-left: -30px;
}

.green-font{
	color: #27AE60;
	margin-left: -4px;
}

.brand{
	color: #000;
}

.top-nav a:hover{
	color: #27AE60;
	text-decoration: none;
}

.top-nav .name{
	font-size: 17pt;
	font-weight: bold;
	/* height: 60px; */
	margin-top: 10px;
	padding-left: 10px;
}

.hero{
	/* background: #27AE60; */
	min-height: 800px;
	color: #fff;
	margin-top: -30px;
	/* top: -300px; */
}

.hero .boxes .content{
	border-radius: 15px;
	min-height: 250px;
	/* background-color: rgba(0, 255, 0,0.1); */
}

.hero .boxes h4{
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
}

.boxes{
	background-color: rgba(0,0,0,0.45);
	position: relative;
	top: 145px;
}

.hero p{
	margin-left: 5px;
	margin-right: 5px;
	line-height: 1.6 !important;
}

.more{
	min-height: 500px;
	min-width: 100%;
	display: block;
	right: 0;
	background: #f4f4f4;
}

.more-2{
	min-height: 425px;
	/*background:blue;*/
}

.more-container{
	background: white;
	position: relative;
	min-width: 400px;
	top:-50px;
}

.more-container{
	padding: 10px;
}

/** Util CSS */
.type-centered {
	text-align: center;
}

.type-caps{
	text-transform: uppercase;
}

.no-border{
	color: white;
	border: none !important;
	-webkit-font-smoothing: antialiased;
	text-outline: 2px 2px #ff0000;
}

.row{
	margin-left: 0px !important;
	margin-right: 0px !important;
}